body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* HEADER */
header {
    background-color: #2c3e50;
    padding: 10px;
}

/* NAVIGATION */
nav {
    background-color: #2c3e50;
    padding: 10px;

    display: flex;
    justify-content: center;
    gap: 20px;
}

/* NAV LINKS */
nav a {
    color: white;
    padding: 10px;
    display: block;

    text-decoration: none;
    font-weight: bold;
}

/* HOVER EFFECT */
nav a:hover {
    text-decoration: underline;
}

/* REQUIRED H1 RULE */
h1 {
    color: #2c3e50;
    text-align: center;
}

/* MAIN SECTION */
main {
    max-width: 840px;
    margin: 20px auto;
    padding: 20px;

    background-color: white;
    border-radius: 8px;
    text-align: center;
}

/* REQUIRED MAIN IMAGE RULE */
main img {
    width: 150px;
    height: auto;

    border: 1px solid #333;
    padding: 5px;
    box-shadow: 0 0 10px gray;
}

/* PARAGRAPH RESET */
p {
    padding: 0;
}

/* ASIDE SECTION */
aside {
    width: 300px;
    margin: 20px auto;

    border: 1px solid #333;
    padding: 10px;

    background-color: #f0f0f0;
    color: #000;

    text-align: center;
}

/* ASIDE IMAGE */
aside img {
    width: 200px;
    height: auto;
}

/* FOOTER */
footer {
    text-align: center;

    background-color: #2c3e50;
    color: white;

    padding: 10px;
    margin-top: 20px;

    border-top: 2px solid #333;
}